<!--Container Fluid-->
<div class="container-fluid">
    <!--Page Content-->
    <div class="page-content">
        <!--Page Header-->
        <div class="page-header border-bottom-dark">
            <!--row-->
            <div class="d-flex align-items-center justify-content-between">
                    <h5 class="mb-0 border-bottom w-100 pb-1">File Explorer</h5>
            </div>
            <!--End row-->
        </div>
        <!--End Page Header-->

        <div class="blog-post">
            
         
        </div>
        <!--End Page Content-->

    </div>
    <!-- End DataTales Start -->

</div>
<!--End ontainer Fluid-->
