<body class="sb-nav-fixed">
    <section id="layoutSidenav_content">
        <main class="content-padding1">
            <div class="container-fluid">
                <div class="page-content">
                    <div class="page-header border-bottom-dark">
                        <h5 class="mb-0">Column Configuration</h5>
                    </div>
                    <div class="blog-post mt-2">
                        <form name="editForm" (ngSubmit)="save()" [formGroup]="editForm" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group mb-2">
                                        <label class="mb-2">Client Name</label>
                                        <select class="form-control" formControlName="clientName">
                                            <option [ngValue]="null" disabled>Select Client Name</option>
                                            <option *ngFor="let clientName of clientNameList" [ngValue]="clientName">{{ clientName }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group mb-2">
                                        <label class="mb-2">Schema Name</label>
                                        <select class="form-control" formControlName="schemaName" (change)="selectSchemaName()">
                                            <option [ngValue]="null" disabled>Select Schema Name</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group mb-2">
                                        <label class="mb-2">App Name</label>
                                        <select class="form-control" formControlName="app">
                                            <option [ngValue]="null" disabled>Select App Name</option>
                                            <option *ngFor="let app of applicationList" [ngValue]="app">{{ app }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group mb-2">
                                        <label class="mb-2">Table Name</label>
                                        <select class="form-control" formControlName="tableName">
                                            <option [ngValue]="null" disabled>Select Table Name</option>
                                            <option *ngFor="let tableName of tableNameList" [ngValue]="tableName">{{ tableName }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group mb-2">
                                        <label class="mb-2">Table Display Name</label>
                                        <input type="text" class="form-control" placeholder="Table Display Name" formControlName="tableDisplayName">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group ">
                                        <label class="mb-2">Table Editable</label>
                                        <select class="form-control" formControlName="tableEditable">
                                            <option value="" disabled>Select Table Editable</option>
                                            <option value="true">True</option>
                                            <option value="false">False</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group mb-2">
                                        <label class="mb-2">Custom Table Flag</label>
                                        <select class="form-control" formControlName="customTableFlag">
                                            <option value="" disabled>Select Custom Table Flag</option>
                                            <option value="true">True</option>
                                            <option value="false">False</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group mb-2">
                                        <label class="mb-2">System Table Flag</label>
                                        <select class="form-control" formControlName="systemTableFlag">
                                            <option value="" disabled>Select System Table Flag</option>
                                            <option value="true">True</option>
                                            <option value="false">False</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group mb-2">
                                        <label class="mb-2">UI Enable</label>
                                        <select class="form-control" formControlName="uiEnable">
                                            <option value="" disabled>Select UI Enable</option>
                                            <option value="true">True</option>
                                            <option value="false">False</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                          
                            <div class="row">
                                <div class="col-12 d-flex justify-content-end mb-2">
                                    <button type="button" class="btn btn-success" (click)="addColumn()">+</button>
                                </div>
                            </div>
                            <div formArrayName="columns">
                                <fieldset class="p-4 mb-3" *ngFor="let column of columns.controls; let i = index" [formGroupName]="i">
                                    <legend>Column Data {{ i + 1 }}</legend>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group mb-2">
                                                <label>Column Name</label>
                                                <select class="form-control" formControlName="columnName">
                                                    <option [ngValue]="null" disabled>Select Column Name</option>
                                                    <option *ngFor="let columnName of columnNameList" [ngValue]="columnName">{{ columnName }}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group mb-2">
                                                <label>Column Display Name</label>
                                                <input type="text" class="form-control" formControlName="columnDisplayName">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group mb-2">
                                                <label>Primary Key</label>
                                                <select class="form-control" formControlName="primaryKey">
                                                    <option value="" disabled>Select Primary Key</option>
                                                    <option value="true">True</option>
                                                    <option value="false">False</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                      
                                        <div class="col-sm-4">
                                            <div class="form-group mb-2">
                                                <label>Min Value</label>
                                                <input type="number" class="form-control" formControlName="minValue">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group mb-2">
                                                <label>Max Value</label>
                                                <input type="number" class="form-control" formControlName="maxValue">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group mb-2">
                                                <label>Data Type</label>
                                                <select class="form-control" formControlName="dataType">
                                                    <option [ngValue]="null" disabled>Select Data Type</option>
                                                    <option *ngFor="let dataType of dataTypeLists" [ngValue]="dataType">{{ dataType }}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class = "row">
                                        <div class="col-sm-4">
                                            <div class="form-group mb-2">
                                                <label>Size</label>
                                                <input type="number" class="form-control" formControlName="size">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group mb-2">
                                                <label>Precision</label>
                                                <input type="number" class="form-control" formControlName="precision">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group mb-2">
                                                <label>Valid Value List</label>
                                                <input type="text" class="form-control" formControlName="validValueList">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group mb-2">
                                                <label>Allow Null Flag</label>
                                                <select class="form-control" formControlName="allowNullFlag">
                                                    <option value="" disabled>Select Allow Null Flag</option>
                                                    <option value="true">True</option>
                                                    <option value="false">False</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group mb-2">
                                                <label>Default Value</label>
                                                <input type="text" class="form-control" formControlName="defaultValue">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group ">
                                                <label class="mb-2">Column Editable</label>
                                                <select class="form-control" formControlName="columnEtiable">
                                                    <option value="" disabled>Select Column Editable</option>
                                                    <option value="true">True</option>
                                                    <option value="false">False</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 d-flex justify-content-end mt-2">
                                        <button type="button" class="btn btn-danger" (click)="removeColumn(i)">-</button>
                                    </div>
                                </fieldset>
                                
                            </div>
                            <div class="pull-right mt-4">
                                <button type="button" class="btn btn-outline-dark mr-4" (click)="previousState()">
                                    <span>Cancel</span>
                                </button>
                                <button type="submit" [disabled]="editForm.invalid" class="btn btn-dark">
                                    <span>Save</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </section>
</body>

