<!--Container Fluid-->
<div class="container-fluid">
    <!--Page Content-->
    <div class="page-content">
        <!--Page Header-->
        <div class="page-header border-bottom-dark">
            <!--row-->
            <div class="d-flex align-items-center justify-content-between w-100 border-bottom">
                
                    <h5 class="mb-0 pb-1">Product</h5>
                <!--                            
                    <div class="d-flex justify-content-end align-items-center py-1">
                        
                        <div class="form-group mr-3 mnwidth-68">
                            <select class="form-control  mnwidth-34"  disabled>
                                <option value="0">25</option>
                                <option value="1">50</option>
                                <option value="2">75</option>
                            </select>
                        </div>
                        <div >
                            <button type="button" class="btn btn-outline-dark mr-2 btn-rel btnExample btn-action" disabled>
                            <img class="init_img" src="../../../../assets/img/dark-delete.svg" height="14">
                            <img class="hover_img" src="../../../../assets/img/light-delete.svg" height="14"> 
                            <span class="btn-abs">Delete</span>
                            </button>
                        </div>
                        
                        <button type="button" class="btn btn-outline-dark mr-2 btn-rel btnExample btn-action" disabled>
                        <span class="btn-abs">Filter</span>
                        <img class="init_img" src="../../../../assets/img/dark-filter.svg" height="13">
                        <img class="hover_img" src="../../../../assets/img/light-filter.svg" height="13"> 
                        </button>
                        <button type="button" class="btn btn-outline-dark btnExample btn-action mr-2 btn-rel" disabled>
                            <img class="init_img" src="../../../../assets/img/dark-clearfilter.svg" height="14">
                            <img class="hover_img" src="../../../../assets/img/light-clearfilter.svg" height="14"> 
                            <span class="btn-abs btn-abs-2x-long">Clear Filter</span>
                        </button> 
                        <button class="custom-file-upload btn btn-outline-dark mr-2 btn-rel btnExample btn-action" disabled> 
                        <label >
                        <input type="file" name="file" accept=".csv,.xlsx">
                        <img class="init_img" src="../../../../assets/img/dark-export.svg" height="14">
                        <img class="hover_img" src="../../../../assets/img/light-export.svg" height="14"> 
                        <span class="btn-abs">Import</span>
                        </label></button>
                        <button type="button" class="btn btn-outline-dark mr-2 btn-rel btnExample btn-action" disabled>
                        <img class="init_img" src="../../../../assets/img/dark-download.svg" height="14">
                        <img class="hover_img" src="../../../../assets/img/light-download.svg" height="14"> 
                        <span class="btn-abs">Export</span>
                        </button> 
                        <button type="button" class="btn btn-outline-dark mr-2 btn-rel btnExample btn-action" disabled>
                        <img class="init_img" src="../../../../assets/img/dark-menu.svg" height="14">
                        <img class="hover_img" src="../../../../assets/img/light-menu.svg" height="14"> 
                        <span class="btn-abs btn-abs-2x-long">Column Selection</span>
                        </button> 
                        <button [routerLink]="['/config-setting/create']" class="btn btn-outline-dark btn-rel btnExample btn-action" type="submit" disabled>
                        <img class="init_img" src="../assets/img/dark-add.svg" height="14">
                        <img class="hover_img" src="../assets/img/light-add.svg" height="14">
                        <span class="btn-abs">Create</span> 
                        </button>
                    </div> -->
                     <app-filters></app-filters>
            </div>
            <!--End row-->
        </div>
        <!--End Page Header-->

        <div class="blog-post">
            
            <div class="table-responsive mt-3">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                           <th><input type="checkbox"></th>
                           <th><img src="../../../../assets/img/gallery.svg" height="24"></th>
                           <th>Name</th>
                           <th>Stock</th>
                           <th>Price</th>
                           <th>Brands</th>
                           <th>Color</th>
                        </tr>
                    </thead>
                    <tbody>
                       <tr>
                          <td><input type="checkbox"></td>
                          <td><img src="../../../../assets/img/clock.png" height="24"></td>
                          <td>Dignissim</td>
                          <td>In stcok (23)</td>
                          <td>&#8364;229,00</td>
                          <td>Eva Solo</td>
                          <td>Natural</td>
                       </tr>
                       <tr>
                        <td><input type="checkbox"></td>
                        <td><img src="../../../../assets/img/prd-1.png" height="24"></td>
                        <td>Steelio</td>
                        <td>In stcok (23)</td>
                        <td>&#8364;623,00</td>
                        <td>Nike</td>
                        <td>Natural</td>
                     </tr>
                     <tr>
                        <td><input type="checkbox"></td>
                        <td><img src="../../../../assets/img/prd-2.png" height="24"></td>
                        <td>Parllel Clock Minimal</td>
                        <td>In stcok (17)</td>
                        <td>&#8364;229,00</td>
                        <td>Jpseph</td>
                        <td>Black,Green</td>
                     </tr>
                     <tr>
                        <td><input type="checkbox"></td>
                        <td><img src="../../../../assets/img/prd-3.png" height="24"></td>
                        <td>Watch</td>
                        <td>In stcok (9)</td>
                        <td>&#8364;748,00</td>
                        <td>Eva Solo</td>
                        <td>White,Yellow</td>
                     </tr>
                     <tr>
                        <td><input type="checkbox"></td>
                        <td><img src="../../../../assets/img/prd-4.png" height="24"></td>
                        <td>Puzzel Mask</td>
                        <td>In stcok (8)</td>
                        <td>&#8364;27,00</td>
                        <td>Eva Solo</td>
                        <td>Black and Yellow</td>
                     </tr>
                    </tbody>
                </table>
            </div>
        
        </div>
        <!--End Page Content-->

    </div>
    <!-- End DataTales Start -->

</div>
<!--End ontainer Fluid-->
